html {
  scroll-behavior: smooth;
}


body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif
}

#root {
  position: absolute;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;

}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/* .checkMark {
} */

.checkMark::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-weight: normal;
  color: green;
}

.singleStar {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'FontAwesome';
  font-weight: normal;
}

.singleStar::before {
  content: "\f006"
}

.singleStarFilled {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'FontAwesome';
  font-weight: normal;
}

.singleStarFilled::before {
  content: "\f005";
  color: #f8ce0b;
}

.inputField {
  width: 70%;
  margin: 10px
}

.check-circle {
  visibility: hidden;
  position: absolute;
  left: 50px;
  z-index: 1;
  background-color: white;
  border-radius: 50%
}

.active {
  visibility: visible;
}

.thumbnail {
  max-width: 25%;
  max-height: 40%;
  padding: 10px;
  z-index: 15;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.thumbnail-active {
  max-width: 25%;
  max-height: 40%;
  padding: 10px;
  z-index: 15;
  border-bottom: #302f2f 3px solid;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.carousel {
  background-color: #d9d5d5;
  width: 760px;
  height: 650px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.extended-carousel {
  background-color: #d9d5d5;
  width:1200px;
  height: 650px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 15;
}

.main-image {
  display: block;
  /* position: absolute; */
  width: 410px;
  max-height: 540px;
  margin-right: 98px;
  cursor: zoom-in;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  z-index: 9998;
}

/* .main-image:hover {
    transform:scale(1.5)
  } */

.main-imageExtended {
  display: block;
  /* position: absolute; */
  max-width: 810px;
  max-height: 620px;
  padding-right: 128px;
  cursor: crosshair;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.main-imageExtended:hover {
  transform:scale(2.5)
}

.wrapper {
  overflow: hidden;
  position: absolute;
  max-width: 410px;
  max-height: 620px;
  margin-right: 98px;
}

.wrapper-ext {
  overflow: hidden;
  position: absolute;
  max-width: 810px;
  max-height: 620px;
  margin-right: 128px;
}
