html {
  scroll-behavior: smooth;
}


body {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif
}

#root {
  position: absolute;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;

}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.checkMark {
  white-space: nowrap;
  overflow: hidden;
}

.checkMark::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-weight: normal;
  color: green;
}

.indicator {
  white-space: nowrap;
  overflow: hidden;
}

.indicator::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-weight: normal;
  color: green;
}

.singleStar {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'FontAwesome';
  font-weight: normal;
}

.singleStar::before {
  content: "\f006"
}

.singleStarFilled {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'FontAwesome';
  font-weight: normal;
}

.singleStarFilled::before {
  content: "\f005";
  color: #f8ce0b;
}

.check-circle {
  visibility: hidden;
  position: absolute;
  left: 50px;
  z-index: 1;
  background-color: white;
  border-radius: 50%
}

.active {
  visibility: visible;
}

.thumbnail {
  max-width: 25%;
  max-height: 40%;
  padding: 10px;
  z-index: 9990;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.thumbnail-active {
  max-width: 25%;
  max-height: 40%;
  padding: 10px;
  z-index: 9990;
  border-bottom: #302f2f 3px solid;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
